<!-- 
============================================
; Title: index
; Authors: Joshua Hughes
;           April Auger
;           Kieth Kozma
; Date:   22 August 2019
; Description: Javascript trivia
;===========================================

 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Trivia</title>

        <!-- Stylesheet - Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="../styles/site.css">

        <!-- JavaScript Libraries -->
        <script src="../knockout-3.5.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
     

        </style>


    </head>
<body>
    <!-- Header -->
    <div class="card-body text-center col-sm-6 offset-sm-3" >
        <img class="img-fluid"  src="../images/Trojans.png" alt="Trojans">
        <h1 class="h1">Javascript Trivia</h1>
    </div>

    <!-- Main Content -->
    <div class="row text-center">
        <!-- Left Column 25% -->
        <div class="col-md-3">
        </div>

        <!-- Center Column 50% -->
        <div class="col-md-6">
            <!-- Main content Div -->
            <div class="well" id="centerMain">
                <h3 class="h3 alert-primary p-3 round-heavy-top mb-0">Trivia</h3>
                <div id="triviaMain" class="well bg-secondary round-heavy-bottom">
                    <br>
                    <h3> Question <span data-bind="text: questionCount"></span></h3>
                    <h4 id="question" class="bg-secondary" data-bind="text: getQuestion"></h4>
                    <br>
                    <div class="btn-group btn-group-vertical btn-group-toggle w-50 m-auto" data-toggle="buttons" data-bind='foreach: getAnswers'>
                            <label class="lblAnser btn btn-info p-0" >
                              <input type="radio" name="options" autocomplete="off" ><span class="empty_fill p-2" data-bind="text: $data.ansNum +': '+$data.answer, click: function(data) { $parent.GetSelected(data); $parent.SetSelected(); }">
                            </label><br>
                        </span>
                          </div>
                    <br>
                </div>
                <button id="btnStart" type="button" class="btn btn-secondary btn-lg btn-block round-heavy-bottom" data-bind="click: function() { startClick(); setQuestion(); setAnswers();}">Start Trivia Now</button>
            </div>
            <button type="button" class="btn btn-primary float-left btnCount" id="btnPrev" data-bind="click: function() { clickNext(-1); setQuestion(); setAnswers(); }, disable: firstQuestion">Previous</button>
            <button type="button" class="btn btn-primary float-right btnCount" id="btnNext" data-bind="click: function() { clickNext(1); setQuestion(); setAnswers();}, disable: lastQuestion" >Next</button>
            <button type="button" id="btnSubmitQuiz" class="btn btn-primary">Submit Quiz</button>
        </div>

        <!-- Right Column 25% -->
        <div class="col-md-3">
            <div class="col-sm-10 offset-sm-1 text-center">
                <!-- Div for questions list -->
                <div class="well" id="rightMain">
                    <h3 class="h3 alert-info round-heavy-top p-3 mb-0">Questions</h3>
                    <div id="questionsMain" class="well bg-secondary mt-0 round-heavy-bottom w-100 h-100">
                        <div class="btn-group-vertical w-100" data-toggle="buttons">
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q1" >Question 1</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q2" >Question 2</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q3" >Question 3</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q4" >Question 4</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q5" >Question 5</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q6" >Question 6</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q7" >Question 7</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q8" >Question 8</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q9" >Question 9</button >
                                <button class="btn btn-secondary w-100 mb-1 " data-bind="click: function(data,event) { goToQuestion(event); getQuestion();setQuestion(); setAnswers() }" id="q10" >Question 10</button >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

//Hides game elements on page load
    $("#btnNext").hide();
    $("#btnPrev").hide();
    $("#triviaMain").hide();
    $("#rightMain").hide();
    $("#btnSubmitQuiz").hide();

//Jquery functions to make start button more responsive
$("#btnStart").mouseover(function(){
    $(this).removeClass("btn-secondary");
    $(this).addClass("btn-primary");
});
$("#btnStart").mouseout(function(){
    $(this).removeClass("btn-primary");
    $(this).addClass("btn-secondary");
});

//jquery to start game.
$("#btnStart").click(function(){
    $(this).hide();
    $("#btnNext").show();
    $("#btnPrev").show();
    $("#triviaMain").show();
    $("#rightMain").show();
});

var Finalquestions = Array();

//view model creation
var QuestionViewModel = function(){
    //counter declare
    this.questionCount = ko.observable(0);

    //runs on click of start
    this.startClick = function(){
        this.questionCount(1);
    }

    //changes question forward or backward
    this.clickNext = function(val) {
        this.questionCount(this.questionCount() + parseInt(val));
        if (this.questionCount()==10) {
            $("#btnSubmitQuiz").show();
        }
    }

    //prevents previous from being clicked on the first question
    this.firstQuestion = ko.pureComputed(function() {
        return this.questionCount() <= 1;
    }, this);

    //prevents next from being click on question 10
    this.lastQuestion = ko.pureComputed(function() {
        return this.questionCount() >= 10;
    }, this);

    //array of the questions and answers
    this.questionsArray = ko.observableArray([
        //question 1
        {
            question: ko.observable("this is q1"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 21"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 2
        {
            question: ko.observable("this is q2"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 22"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 3
        {
            question: ko.observable("this is q3"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 23"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 4
        {
            question: ko.observable("this is q4"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 24"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 5
        {
            question: ko.observable("this is q5"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 25"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 6
        {
            question: ko.observable("this is q6"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 26"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 7
        {
            question: ko.observable("this is q7"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 27"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 8
        {
            question: ko.observable("this is q8"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 28"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 9
        {
            question: ko.observable("this is q9"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 29"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        },
        //question 10
        {
            question: ko.observable("this is q10"),
            answers : ko.observableArray([
                { ansNum: "A", answer: "answer 1"},
                { ansNum: "B", answer: "answer 20"},
                { ansNum: "C", answer: "answer 3"},
                { ansNum: "D", answer: "answer 4"}
            ])
        }
    ]);

    //sets question text
    this.getQuestion = ko.observable("");
    this.setQuestion = function(){
        this.getQuestion(this.questionsArray()[this.questionCount()-1].question());
    }

    //sets answer text
    this.getAnswers = ko.observableArray("");
    this.setAnswers = function(){
        this.getAnswers(this.questionsArray()[this.questionCount()-1].answers());//good


        // ================NEED TO FIX=========================
        // block is to determine if question is already in array, and if so
        // will add the active class of the item in the answer array

        //function to return true if question already in array(good)
        function qExists(ques) {
            var arr = Finalquestions;
            return arr.some(function(el) {
                return el.q == ques;
            }); 
        }
        
        //switch returns answer letter (good)
        if (qExists(this.questionCount())) {
            //generic search function
            function search(nameKey, prop, myArray){
                for (var i=0; i < myArray.length; i++) {
                    if (myArray[i]['q']=== nameKey) {
                        return myArray[i][prop];
                    }
                }
            }
            //uses search function to return a value of current question(good)
            var existAnswer = search(this.questionCount(),"a", Finalquestions);
            var ansVal = "";
            switch (existAnswer) {
                case 'A':
                    ansVal = 0;
                    break;
                case 'B':
                    ansVal = 1;
                    break;
                case 'C':
                    ansVal = 2;
                    break;
                case 'D':
                    ansVal = 3;
                    break;
            }
            // *******FIX HERE*********

            // $('.lblAnser').addClass('active');
            // alert("answer exisits "+ ansVal);

            //*****************************
            // ================ END NEED TO FIX=========================
        }

    }//end
    
    //set selected question
    this.SetSelected = function(){
        var qid = "#q" + this.questionCount();
        $(qid).addClass('btn-success');
    }

    //get selected answer
    this.GetSelected = function(val){
        var elem = {
            q: this.questionCount(),
            a: val.ansNum
        };
    
        

        //function checks to see if question already exists in final questions array
        function qExists(ques) {
            var arr = Finalquestions;
            return arr.some(function(el) {
                return el.q == ques;
            }); 
        }

        //if question already exists, then update answer, else push to questions array
        if (qExists(elem.q)) {
            //add updater to finalquestions here
        }
        else{
            Finalquestions.push(elem);
        }
        
        //console log finalquestions array(output for debugging)
        Finalquestions.forEach(element => {
            console.log(element);
        });
    }

    //handles go directly to question from question pane on right
    this.goToQuestion = function(event){
        var qid = event.target.id;
        var countRevert = qid.replace( /^\D+/g, '');
        this.questionCount(parseInt(countRevert));
    }
};

ko.applyBindings(new QuestionViewModel());
</script>
</html>