<!-- 
============================================
; Title: index
; Authors: Joshua Hughes
;           April Auger
;           Kieth Kozma
; Date:   22 August 2019
; Description: Javascript trivia
;===========================================

 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Trivia</title>

        <!-- Stylesheet - Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

        <link rel="stylesheet" href="../styles/site.css">

        <!-- JavaScript Libraries -->
        <script src="../knockout-3.5.0.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <style>
     

        </style>


    </head>
<body>
    <!-- Header -->
    <div class="card-body text-center col-sm-6 offset-sm-3" >
        <img class="img-fluid"  src="../images/Trojans.png" alt="Trojans">
        <h1 class="h1">Javascript Trivia</h1>
    </div>

    <!-- Main Content -->
    <div class="row text-center">
        <!-- Left Column 25% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-3">
        </div>

        <!-- Center Column 50% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-6">
            <!-- Main content Div -->
            <div class="well" id="centerMain">
                <h3 class="h3 alert-primary p-3 round-heavy-top mb-0">Trivia</h3>
                <div id="triviaMain" class="well bg-secondary round-heavy-bottom">
                    <br>
                    <h3> Question <span data-bind="text: questionCount"></span></h3>
                    <!-- <h4 id="question" class="bg-secondary" data-bind="text: question"></h4>
                    <br>
                    <table id="tblAnswers" class="text-center w-25 m-auto">
                            <tbody id="tblBodyAnswers"  data-bind='foreach: answersArray'>
                                <tr class="spacer"></tr>
                                    <tr class="alert-dark m-1 p-3">
                                    <td class="round-heavy-left" data-bind='text: answerNum'></td>
                                    <td class="round-heavy-right" data-bind='text: answerText'></td> 
                                </tr>
                                <tr class="spacer"><td></td><td></td></tr>
                                <tr class="spacer"><td></td><td></td></tr>
                                <tr class="spacer"><td></td><td></td></tr>
                            </tbody>
                          </table> -->
                    <br>
                </div>
                <button id="btnStart" type="button" class="btn btn-secondary btn-lg btn-block round-heavy-bottom" data-bind="click: startClick">Start Trivia Now</button>
            </div>
            <button type="button" class="btn btn-primary float-left btnCount" id="btnPrev" data-bind="click: clickNext(-1), disable: firstQuestion">Previous</button>
            <button type="button" class="btn btn-primary float-right btnCount" id="btnNext" data-bind="click: clickNext(1), disable: lastQuestion">Next</button>
        </div>

        <!-- Right Column 25% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-3">
            <div class="col-sm-10 offset-sm-1 text-center">
                <!-- Div for questions list -->
                <div class="well" id="rightMain">
                    <h3 class="h3 alert-info round-heavy-top p-3 mb-0">Questions</h3>
                    <div id="questionsMain" class="well bg-secondary mt-0 round-heavy-bottom">
                        <p id="q1" class="m-0 ">Question 1</p>
                        <p id="q2" class="m-1 ">Question 2</p>
                        <p id="q3" class="m-1 ">Question 3</p>
                        <p id="q4" class="m-1 ">Question 4</p>
                        <p id="q5" class="m-1 ">Question 5</p>
                        <p id="q6" class="m-1 ">Question 6</p>
                        <p id="q7" class="m-1 ">Question 7</p>
                        <p id="q8" class="m-1 ">Question 8</p>
                        <p id="q9" class="m-1 ">Question 9</p>
                        <p id="q10" class="m-1 ">Question 10</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

//Hides game elements on page load
$(document).ready(function() {
    $("#btnNext").hide();
    $("#btnPrev").hide();
    $("#triviaMain").hide();
    $("#rightMain").hide();
});

//Jquery functions to make start button more responsive
$("#btnStart").mouseover(function(){
    $(this).removeClass("btn-secondary");
    $(this).addClass("btn-primary");
});
$("#btnStart").mouseout(function(){
    $(this).removeClass("btn-primary");
    $(this).addClass("btn-secondary");
});

//jquery to start game.
$("#btnStart").click(function(){
    $(this).hide();
    $("#btnNext").show();
    $("#btnPrev").show();
    $("#triviaMain").show();
    $("#rightMain").show();
});


//view model creation
var QuestionViewModel = function(){
    //counter declare
    this.questionCount = ko.observable(0);

    //runs on click of start
    this.startClick = function(){
        this.questionCount(1);
    }

    //changes question forward or backward
    this.clickNext = function(val) {
        this.questionCount(this.questionCount() + parseInt(val));
    }

    //prevents previous from being clicked on the first question
    this.firstQuestion = ko.pureComputed(function() {
        return this.questionCount() <= 1;
    }, this);

    //prevents next from being click on question 10
    this.lastQuestion = ko.pureComputed(function() {
        return this.questionCount() >= 10;
    }, this);

    //array of the questions and answers
    // var questionsArray = [
    //     //question 1
    //     {
    //         question: "this is q1",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 2
    //     {
    //         question: "this is q2",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 3
    //     {
    //         question: "this is q3",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 4
    //     {
    //         question: "this is q4",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 5
    //     {
    //         question: "this is q5",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 6
    //     {
    //         question: "this is q6",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 7
    //     {
    //         question: "this is q7",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 8
    //     {
    //         question: "this is q8",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 9
    //     {
    //         question: "this is q9",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     },
    //     //question 10
    //     {
    //         question: "this is q10",
    //         answers : [
    //             "answer 1",
    //             "answer 2",
    //             "answer 3",
    //             "answer 4"
    //         ]
    //     }
        
    // ];

    //array of answers
    // this.answersArray = ko.observableArray([
    //     {
    //         answerNum:ko.observable("A. "),
    //         answerText:ko.observable(ansA)
    //     },
    //     {
    //         answerNum:ko.observable("B. "),
    //         answerText:ko.observable(ansB)
    //     },
    //     {
    //         answerNum:ko.observable("C. "),
    //         answerText:ko.observable(ansC)
    //     },
    //     {
    //         answerNum:ko.observable("D. "),
    //         answerText:ko.observable(ansD)
    //     }
    // ]);

    //sets question text
    //**FIX ME***
    //this.question = ko.observable(this.questionsArray[this.questionCount() - 1].question);

    
};
   
ko.applyBindings(new QuestionViewModel());

//**NOT NEEDED
//vm = new QuestionViewModel(questionsArray[i].question,questionsArray[i].answers[0],questionsArray[i].answers[1],questionsArray[i].answers[2],questionsArray[i].answers[3]);



    
</script>



</html>