<!-- 
============================================
; Title: index.html
; Authors: Joshua Hughes
;           April Auger
;           Kieth Kozma
; Date:   22 August 2019
; Description: Javascript trivia
;===========================================

 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript Trivia</title>

    <!-- latest bootstrap CSS style link -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <div class="card-body text-center col-sm-6 offset-sm-3" >
        <img class="img-fluid"  src="../images/Trojans.png" alt="Trojans">
        <h1 class="h1">Javascript Trivia</h1>
    </div>

    <!-- Main Content -->
    <div class="row text-center">
        <!-- Left Column 25% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-3 border">
            left
        </div>

        <!-- Center Column 50% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-6 border">
            center(main)
            <!-- Main content Div -->
            <div class="card card-body" id="centerMain">
                <h3 class="h3">Trivia</h3>
                <hr>
            </div>
        </div>

        <!-- Right Column 25% -->
        <!-- Border shown for clarity, will not be on finished product -->
        <div class="col-md-3 border">
            right
            <div class="col-sm-10 offset-sm-1 text-center">
                <!-- Div for questions list -->
                <div class="card card-body" id="rightMain">
                    <h3 class="h3">Questions</h3>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>
</html>